services:
  postgres:
    image: postgres:latest
    container_name: gigtern-postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql
